# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Libraries
*.dll
*.so
*.dylib
*.a
*.lib

# Debug files
*.pdb
*.dwo

# Code::Blocks build folders
obj/
bin/

# Code::Blocks user files
*.layout
*.depend
